card-body.red{
  background-color: red;
}
card-body.green{
  background-color: green;
}
card-body.cyan{
  background-color: cyan;
}
card-body.yellow{
  background-color: yellow;
}
card-body.blue{
  background-color: blue;
}
