strong{
  position: fixed;
  bottom: 0;
  right: 4px;
  background-color: yellow;
  padding: 10px;

  z-index: 1;
}
p{
  position: sticky;
  top: 80px;
float: right;
  background-color: green;
  padding: 10px;
  z-index: 1;
  color: white;
  width: fit-content;
}
.shifLoc{
  position: fixed;
  right: 10px;
  bottom: 0;
}
