
<div class=" ml-5 jumbotron">



  <form [formGroup]="CboEmployeeForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Emp Code</label>
        <input type="text" class="form-control" formControlName="empCode" >
        <div class="invalid-feedback" *ngIf="CboEmployeeForm.get('empCode').hasError('required') && CboEmployeeForm.get('empCode').touched">
          Please enter employee code.
        </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Emp Name</label>
            <input type="text" class="form-control" formControlName="empName" >
            <div class="invalid-feedback" *ngIf="CboEmployeeForm.get('empName').hasError('required') && CboEmployeeForm.get('empName').touched">
              Please enter employee name.
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Address</label>
            <input type="text" class="form-control" formControlName="address" >
            <div class="invalid-feedback" *ngIf="CboEmployeeForm.get('address').hasError('required') && CboEmployeeForm.get('address').touched">
              Please enter employee address.
            </div>
          </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Mobile number</label>
        <input type="tel" class="form-control" formControlName="mobile" >
        <div class="invalid-feedback" *ngIf="CboEmployeeForm.get('mobile').hasError('required') && CboEmployeeForm.get('mobile').touched">
          Please enter employee mobile number.
        </div>
        <div class="invalid-feedback" *ngIf="CboEmployeeForm.get('mobile').hasError('pattern')">
          Invalid mobile number.
        </div>
        <div class="invalid-feedback" *ngIf="CboEmployeeForm.get('mobile').hasError('minlength') && !CboEmployeeForm.get('mobile').hasError('pattern')">
          Minlength should 7.
        </div>
        <div class="invalid-feedback" *ngIf="CboEmployeeForm.get('mobile').hasError('maxlength') && !CboEmployeeForm.get('mobile').hasError('pattern')">
          Maxlength should 15.
        </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">DOB</label>
            <input type="date" [max]="_service.getToday()" class="form-control" formControlName="dob" >
            <div class="invalid-feedback" *ngIf="CboEmployeeForm.get('dob').hasError('required') && CboEmployeeForm.get('dob').touched">
              Please enter employee dob.
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Remarks</label>
            <textarea type="text" class="form-control" formControlName="remark" ></textarea>
            <div class="invalid-feedback" *ngIf="CboEmployeeForm.get('remark').hasError('required') && CboEmployeeForm.get('remark').touched">
              Please enter employee remark.
            </div>
          </div>
      </div>
    </div>
    <button type="button"(click)="addUser()" class="btn btn-primary" *ngIf="!isEdit">Submit</button>
    <button type="button" class="btn btn-info" *ngIf="isEdit" (click)="updateUser()">Update</button>

  </form>

  <div class="search-cboItem">
    <h5>Total Employee:
      <span class="badge badge-light">{{"   "+allUsers.length}}</span>
    </h5>
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching">
  </div>

    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Emp Code</th>
          <th scope="col">Emp Name</th>
          <th scope="col">Mobile</th>
          <th scope="col">Address</th>
          <th scope="col">DOB</th>
          <th scope="col">Remark</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of allUsers |filter:searchText">
            <td>{{user.empCode}}</td>
            <td>{{user.empName}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.address}}</td>
            <td>{{user.dob}}</td>
            <td>{{user.remark}}</td>
            <td><button class="btn btn-info" (click)="EditUser(user)" title="Edit"><i class="fa fa-edit"></i>
            </button></td>
<td><button class="btn btn-danger" (click)="DeleteUser(user)"title="Delete"><i class="fa fa-trash"></i>
</button></td>
        </tr>

      </tbody>
    </table>

</div>




