<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Of From Example</div>
      <div class="card-body">
<strong>{{dataemmit}}</strong>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">creating li by emition</div>
      <div class="card-body">
<ul id="tracker">

</ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">creating li by emition2</div>
      <div class="card-body">
<ul id="tracker1">

</ul>
      </div>
    </div>
  </div>
</div>
<hr>
<strong>From Example</strong>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">From Example with string</div>
      <div class="card-body">
        <ul id="trackerFrom0">

        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">from with array</div>
      <div class="card-body">
<ul id="trackerFrom">

</ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">From with promise </div>
      <div class="card-body">
<ul id="trackerFrom1">

</ul>
      </div>
    </div>
  </div>
</div>
