<nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active" ><i class="fa fa-home" #home></i></a>
  <a class="nav-link" [routerLink]="['/forkjoinAndZip']" routerLinkActive="router-link-active" >ForkJoinAndzip</a>
  <a class="nav-link"[routerLink]="['/from_Event']" routerLinkActive="router-link-active" >From-event</a>
  <a class="nav-link"[routerLink]="['/interval_time']" routerLinkActive="router-link-active" >Interval&timer</a>
  <a class="nav-link"[routerLink]="['/Of_from']" routerLinkActive="router-link-active" >Of-From</a>
  <a class="nav-link"[routerLink]="['/payment_gateway']" routerLinkActive="router-link-active" >Payment</a>
  <a class="nav-link"[routerLink]="['/from_Event']" routerLinkActive="router-link-active" >From-event</a>
  <strong >
  <i>Screen:</i>{{ScreenName}}
  </strong>
</nav>


<div class="jumbotron">
  <div class="container container-fluid"></div>
  <router-outlet></router-outlet>

</div>



